{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - Mon profil
{% endblock %}
{% block body %}
	{% block javascripts %}
		<script src="{{ asset('js/account.js')}}"></script>

	{% endblock %}


	<div class="container accountContainer">

		<div class="accountBody">
			<div class="accountMenu">
				<div class="menuChoice" id="accountChoice" onclick="account()">Mon profil</div>
				<div class="menuChoice" id="adressChoice" onclick="adress()">Mes coordonnées</div>
				<div class="menuChoice" id="passwordChoice" onclick="password()">Sécurité</div>
				{% if app.user.isVerified == 0 %}
					<div class="menuChoice" id="verifiedChoice" onclick="verified()">Vérification de compte</div>
				{% endif %}
			</div>
			<div class="accountContent">
				<div class="titleContent">
					<span>Bonjour
						{{ app.user.firstname }}
						{{ app.user.lastname }}</span>
				</div>
				<div class="accountErrors">
					{% for level, messages in app.flashes %}
						{% for message in messages %}
							<div style="width:100%;" class="alert text-center col-6 alert-{{ level }}">
								{{ message|raw }}
							</div>
						{% endfor %}
					{% endfor %}
				</div>
				<div class="contentAccount">
					<div class="contentClass" id="userInfoAccount">
						<div class="labelContent">Mes informations</div>
						<div class="userData">
							<div class="dataLine">
								<div class="labelData">Prénom</div>
								<div class="outputData">{{ app.user.firstname }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Nom</div>
								<div class="outputData">{{ app.user.lastname }}</div>
							</div>
							<div class="dataLine" id="dataLineEmail">
								<div class="labelData">Email</div>
								<div class="outputData">{{ app.user.email }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Téléphone</div>
								<div class="outputData">{{ app.user.phone }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Adresse</div>
								<div class="outputData">{{ app.user.adress }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Code postal</div>
								<div class="outputData">{{ app.user.postal }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Ville</div>
								<div class="outputData">{{ app.user.city }}</div>
							</div>
						</div>
					</div>
					<form method="post" class=" contentClass" id="adressEditForm">
						<div class="labelContent">Mes coordonnées</div>
						<input type="hidden" name="editAdress" value="edited">
						<div class="adressEditInput">
							<div class="adressEditOne">
								<div class="adressInput">
									<p>Adresse :</p>
									<input type="text" value="{{ app.user.adress }}" name="adress">
								</div>
								<div class="adressInput">
									<p>Code postal :</p>
									<input type="text" name="postal" value="{{ app.user.postal }}">
								</div>
							</div>
							<div class="adressEditTwo">

								<div class="adressInput">
									<p>Ville :</p>
									<input type="text" name="city" value="{{ app.user.city }}">
								</div>
								<div class="adressInput">
									<p>Téléphone :</p>
									<input type="text" name="phone" value="{{ app.user.phone }}">
								</div>
							</div>
						</div>
						<button type="submit" class="btnSubmitEdit" id="btnSumbitEdit">
							Modifier</button>


					</form>


					<form method="post" class="contentClass contentClassPassword" id="passwordEditForm">
						<div class="labelContent">Sécurité</div>
						<input type="hidden" name="editPassword" value="edited">
						<div class="containerPassword">
							<div class="inputEditPass">
								<label for="oldPassword">Votre mot de passe actuel</label>
								<input type="password" name="oldPassword" id="oldPassword">
							</div>
							<div class="inputEditPass">
								<label for="newPassword">Nouveau mot de passe</label>
								<input type="password" name="newPassword" id="newPassword">
							</div>
							<div class="inputEditPass">
								<label for="confirmPassword">Confirmation du mot de passe</label>
								<input type="password" name="confirmPassword" id="confirmPassword">
							</div>
							<button type="submit" id="btnEditPass" class="btnSubmitEdit">
								Modifier</button>
						</div>


					</form>
					<div class="contentClass" id="verifiedForm">
						<div class="labelContent">Vérification du compte</div>
						<div class="notVerified">
							<p>Votre compte n'a toujours pas été vérifié. Pour effectuer des commandes vous devez impérativement avoir cliqué sur le lien envoyé par mail pour permettre la vérification de votre compte.</p>
							<p>Un premier mail vous a été envoyé au moment de cette inscription. Pensez à vérifier vos courriers indésirables. Pour des raisons de sécurité, le lien expire au bout d'1 heure. Vous pouvez à tout moment recevoir un nouveau lien de vérification en cliquant ci-dessous.</p>

							<form method="post" class="notVerifiedForm">
								<input type="hidden" name="resendVerified" value="resendVerified">
								<button type="submit" class="btnResendVerified">Renvoyer le mail de confirmation</button>
							</form>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>


	

{% endblock %}
